/*NAV BAR*/
#main-nav {
    background-color: darkblue;
    text-align: center;
    width: 100%;
    color: aliceblue;
    }

    #main-nav li:hover {
        background-color: lightslategray;
        color: darkblue;
    }

    #main-nav li {
        display: inline-block;
        position: relative;
    }

    #main-nav ul li{
        list-style-type: none;
        display: inline-block;
        padding: 10px;
        text-align: center;
    }

    #main-nav ul ul {
        display: none;
        position: absolute;
    }
